@model VLN2.Models.ChangeBioViewModel
@{
    ViewBag.Title = "Change Bio";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangeBio", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Change Your Bio Form</h4>
    <div class="form-group">
        <textarea name="bio" class="form-control no-resize" rows="10" cols="15" required>@User.Identity.GetDescription()</textarea>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Change Description" class="btn btn-default" />
        </div>
    </div>
}
