/* Start by importing variables.less */
/*
    variables.less
    Define all variables here
*/
/* Project Page */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #272727;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
body {
  padding-bottom: 0;
}
textarea.no-resize {
  resize: none;
}
/* Overwrite some bootstrap classes */
.btn-send {
  font-size: 16px;
  height: 34px;
  background-color: #323232;
  border: 2px solid gray;
}
.btn-send span {
  color: white;
}
#message {
  background-color: #323232;
  border-color: gray;
  color: white !important;
}
.project-list {
  list-style-type: none;
}
.container-top-margin {
  margin-top: 2em;
}
.white-color {
  color: #eee;
}
td a {
  color: #eee;
  display: block;
}
a:hover {
  color: orangered;
  text-decoration: none;
}
table {
  background-color: #353535;
  border-radius: 0px;
}
.input-hidden {
  visibility: hidden;
  width: 0px;
}
.form-margin {
  margin-bottom: 5px;
}
.bottom-margin {
  margin-bottom: 1em;
}
.left-margin {
  margin-left: 0.5em;
}
.top-margin {
  margin-top: 1em;
}
.dashboard-projects {
  background-color: #353535;
  box-shadow: 6px 6px 2px #262626;
}
.icon-saved {
  font-size: 24px;
  color: blue;
}
.btn-flat {
  background-color: #323232;
  border: 2px solid gray;
}
.btn-flat:hover {
  background-color: #4d4d4d;
  color: gray;
}
.btn-flat-extra {
  background-color: #4e4e4e;
}
.btn-flat-v2 {
  background-color: #d8410f;
  color: white;
}
.btn-flat-v2-green {
  background-color: #107736;
}
.sidebar-project-newfile {
  position: absolute;
  bottom: 0;
}
form.create-project {
  padding: 8px 0px 8px 0px;
}
/* Make html and body 100% so i can make the project side 100% height */
html,
body {
  height: 100%;
}
/* Sidebar when viewing a project */
.sidebar-info {
  max-width: 350px !important;
  min-width: 200px !important;
  width: 250px;
  height: 100%;
  position: relative;
  float: left;
  color: white;
  background-color: #323232;
}
.sidebar-info h5 {
  color: #ff3f00;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 4px;
}
.sidebar-info .project-info {
  width: 100%;
  background-color: #3B3B3B;
}
.sidebar-info .project-info .project-title {
  text-align: center;
}
.sidebar-info .project-files ul {
  list-style: none;
  padding: 0;
}
.sidebar-info .project-files ul li {
  padding-left: 20px;
}
.sidebar-info .project-files ul li span {
  visibility: hidden;
}
.sidebar-info .project-files ul li:hover {
  cursor: default;
  color: orangered;
}
.sidebar-info .project-files ul li:hover span {
  visibility: visible;
}
.sidebar-info .project-files .selected-file {
  color: #cfcfcf;
  background-color: #474747;
  border-left: 2px solid red;
}
.sidebar-info .project-conversation {
  width: 100%;
  height: 200px;
  background-color: #2C2C2C;
  position: absolute;
  bottom: 0;
}
.sidebar-info .project-conversation .project-conversation-input {
  width: 100%;
  position: absolute!important;
  bottom: 0;
}
.sidebar-info .project-conversation .project-conversation-messages {
  list-style: none;
  padding: 2px 4px 2px 4px;
  overflow: auto;
  height: 150px;
}
.sidebar-info .project-conversation .project-conversation-messages li {
  border-bottom: 1px solid #4b4b4b;
}
.sidebar-info .project-conversation input {
  max-width: none;
}
.sidebar-info .project-actions {
  padding: 10px;
}
#editor {
  height: 100%;
  overflow: hidden;
  display: none;
}
#dragbar {
  height: 100%;
  width: 1px;
  background-color: transparent;
  float: left;
  cursor: col-resize;
}
#createfile {
  display: none;
}
@media (max-width: 600px) {
  .sidebar-info {
    width: 150px;
    min-width: 150px !important;
  }
}
.error-404 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
}
.error-404 img {
  width: 400px;
}
.error-404 span {
  font-size: 34px;
  font-weight: bold;
  display: block;
  color: orange;
}
.ace_myclass {
  color: red;
  position: absolute;
  border-left: 2px solid gold;
  background-color: green;
}
.user-color-0 {
  color: yellow;
  position: absolute;
  border-left: 2px solid yellow;
  background-color: yellow;
}
.user-color-1 {
  color: blue;
  position: absolute;
  border-left: 2px solid blue;
  background-color: blue;
}
.user-color-2 {
  color: red;
  position: absolute;
  border-left: 2px solid red;
  background-color: red;
}
.user-color-4 {
  color: forestgreen;
  position: absolute;
  border-left: 2px solid forestgreen;
  background-color: forestgreen;
}
.user-color-5 {
  color: peachpuff;
  position: absolute;
  border-left: 2px solid peachpuff;
  background-color: peachpuff;
}
.user-color-6 {
  color: chocolate;
  position: absolute;
  border-left: 2px solid chocolate;
  background-color: chocolate;
}
.user-color-7 {
  color: cornsilk;
  position: absolute;
  border-left: 2px solid cornsilk;
  background-color: cornsilk;
}
.user-color-8 {
  color: mediumorchid;
  position: absolute;
  border-left: 2px solid mediumorchid;
  background-color: mediumorchid;
}
.user-color-9 {
  color: mintcream;
  position: absolute;
  border-left: 2px solid mintcream;
  background-color: mintcream;
}
.user-color-10 {
  color: mediumvioletred;
  position: absolute;
  border-left: 2px solid mediumvioletred;
  background-color: mediumvioletred;
}
.user-color-0-color {
  color: yellow;
}
.user-color-1-color {
  color: blue;
}
.user-color-2-color {
  color: red;
}
.user-color-4-color {
  color: forestgreen;
}
.user-color-5-color {
  color: peachpuff;
}
.user-color-6-color {
  color: chocolate;
}
.user-color-7-color {
  color: cornsilk;
}
.user-color-8-color {
  color: mediumorchid;
}
.user-color-9-color {
  color: mintcream;
}
.user-color-10-color {
  color: mediumvioletred;
}
.list-user {
  margin-top: 10px;
  background-color: #414141;
  padding: 10px;
}
.status-newfile {
  padding: 10px;
  color: red;
}
.status-saved {
  padding: 10px;
}
