/* Start by importing variables.less */
/*
    variables.less
    Define all variables here
*/
/* Project Page */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #272727;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
body {
  padding-bottom: 0;
}
/* Overwrite some bootstrap classes */
.btn-send {
  font-size: 16px;
  height: 34px;
  background-color: #323232;
  border: 2px solid gray;
}
.btn-send span {
  color: white;
}
#message {
  background-color: #323232;
  border-color: gray;
  color: white !important;
}
.project-list {
  list-style-type: none;
}
.container-top-margin {
  margin-top: 2em;
}
.white-color {
  color: #eee;
}
a {
  color: #0875c9;
}
a:hover {
  color: #0663aa;
}
table {
  background-color: #353535;
  border-radius: 0px;
}
.dashboard-projects {
  background-color: #353535;
  box-shadow: 6px 6px 2px #262626;
}
.icon-saved {
  font-size: 24px;
  color: blue;
}
.btn-flat {
  background-color: #323232;
  border: 2px solid gray;
}
.btn-flat:hover {
  background-color: #4d4d4d;
  color: gray;
}
.sidebar-project-newfile {
  position: absolute;
  bottom: 0;
}
form.create-project {
  padding: 8px 0px 8px 0px;
}
/* Make html and body 100% so i can make the project side 100% height */
html,
body {
  height: 100%;
}
/* Sidebar when viewing a project */
.sidebar-info {
  max-width: 350px !important;
  min-width: 200px !important;
  width: 250px;
  height: 100%;
  position: relative;
  float: left;
  color: white;
  background-color: #323232;
}
.sidebar-info .project-info {
  width: 100%;
  background-color: #3B3B3B;
}
.sidebar-info .project-info .project-title {
  text-align: center;
}
.sidebar-info .project-files h5 {
  color: #ff3f00;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 4px;
}
.sidebar-info .project-files ul {
  list-style: none;
  padding: 0;
}
.sidebar-info .project-files ul li {
  padding-left: 20px;
}
.sidebar-info .project-files ul li:hover {
  cursor: default;
  color: orangered;
}
.sidebar-info .project-files .selected-file {
  color: #cfcfcf;
  background-color: #474747;
  border-left: 2px solid red;
}
.sidebar-info .project-conversation {
  width: 100%;
  height: 200px;
  background-color: #2C2C2C;
  position: absolute;
  bottom: 0;
}
.sidebar-info .project-conversation .project-conversation-input {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.sidebar-info .project-conversation .project-conversation-messages {
  list-style: none;
  padding: 2px 4px 2px 4px;
}
.sidebar-info .project-conversation .project-conversation-messages li {
  border-bottom: 1px solid #4b4b4b;
}
.sidebar-info .project-conversation input {
  max-width: none;
}
.sidebar-info .project-actions {
  padding: 10px;
}
#editor {
  height: 100%;
  overflow: hidden;
}
#dragbar {
  height: 100%;
  width: 1px;
  background-color: transparent;
  float: left;
  cursor: col-resize;
}
#createfile {
  display: none;
}
