@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <h1>Welcome to SofaCode</h1>
    <div class="col-md-6">
        <h3>What to excpect from SofaCode:</h3>
        <ul>
            <li>You can create programming projects online</li>
            <li>You can code online with your friends</li>
            <li>Add friends to your projects</li>
            <li>Remove former friends from your project</li>
            <li>See real-time what your friends are up to in your project</li>
            <li>Chat with your friends while programming</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>If you like what you see then you can register to join the fun!</h4>
        <a href="/Account/Register" class="btn btn-flat btn-flat-extra">Register</a>
        <h4>If you already have an account then login to keep having fun!</h4>
        <a href="/Account/Login" class="btn btn-flat btn-flat-extra">Login</a>
    </div>
</div>