@model VLN2.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="container container-top-margin">
    <div class="row">
        <div class="col-md-8">
            <ul class="project-list">
                <!--<li>Project Name - Description of Project - Language</li>-->
                @foreach (var project in Model.UserProjects)
                {
                    <li>
                        <p>@project.Name</p>@Html.ActionLink("Open Project", "Index", "Project", new { id = project.ID }, null)
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Create Project Stuff</h2>
            <p>@Model.UserID</p>
        </div>
    </div>
</div>