@model VLN2.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="container container-top-margin">
    <div class="row">
        <div class="col-md-8">
            <ul class="project-list">
                <li>Project Name - Description of Project - Language</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Create Project Stuff</h2>
        </div>
    </div>
</div>