@model VLN2.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="white-color">Projects</h3>
            <div class="col-md-12 dashboard-projects">
                <table class="table white-color">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.UserProjects)
                        {
                            <tr>
                                <td>@project.Name</td>
                                <td>@project.Description</td>
                                <td>@Html.ActionLink("Open Project", "Index", "Project", new { id = project.ID }, null)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="white-color">Create Project</h3>
            <div class="col-md-12 dashboard-projects">
                <form class="create-project form-group" method="post" action="">
                    <label class="white-color" for="projectName">Project Name:</label><input type="text" name="projectName" id="projectName" placeholder="Awesome Project" class="form-control"/><br/>
                    <label class="white-color" for="description">Description:</label><textarea name="description" id="descroption" placeholder="Best Project Ever..." class="form-control"></textarea><br/>
                    <label class="white-color" for="fileName">File Name:</label><input type="text" name="fileName" id="fileName" placeholder="index.html" class="form-control"/><br/>
                    <input class="btn btn-flat btn-flat-extra" type="submit" value="Create Project"/>
                </form>
            </div>
        </div>
    </div>
</div>