
@{
    ViewBag.Title = "Sofa Error 404";
}

@section outsideContainer{
    <div class="error-container">
        <p class="error-404">
            <img src="~/Content/images/sofa-black-silhouette.png" />
            <!-- Copyright: http://www.supercoloring.com/silhouettes/sofa -->
            <span>Sofa Error 404</span>
            Apologies we couldn't find anything under the sofa
        </p>
    </div>
}