/*
    variables.less
    Define all variables here
*/

/* Project Page */
@files-header-color: #ff3f00;

@file-selected-file-left-border-color: red;
@file-selected-file-color: #cfcfcf;

@file-hover-color: orangered;