@model VLN2.ViewModels.CollabaratorViewModel
@{
    ViewBag.Title = @Model.Project.Name;
}

<h2>@Model.Project.Name - Add Collaborators</h2>

    @*@foreach(var user in Model.Following)
    {
        <li>@user.UserName</li>
    }*@


<form class="form-group" method="post" action="/Project/AddCollaborator/@Model.Project.ID">
    @foreach (var user in Model.Following)
    {
        <label>@user.UserName<input type="radio" class="" name="user" value=@user.Id class="form-control"/></label>
    }
    <input type="Submit" value="Add Selected Friend" class="btn btn-flat btn-flat-extra"/>
</form>